openapi: 3.0.3
info:
  title: AI Prompt Enhancer API
  description: |
    An API that transforms basic prompts into optimized, context-rich instructions for AI language models.
    Works with both Mistral and OpenAI to enhance prompts and generate better AI responses.

    Security Features:
    - Strict API key authentication
    - Rate limiting to prevent abuse
    - Compression for efficient data transfer
    - X-Frame-Options set to DENY to prevent clickjacking
  version: 1.0.0
  contact:
    name: Prompt Enhancer Team
    email: rahul@treblle.com
    url: https://prompt-enhancer.ai
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://www.prompt-enhancer.ai/v1/prompts
    description: Primary production server
    x-cdnProvider:
      - Cloudflare
      - Fastly
      - Akamai
  - url: http://localhost:5000/v1
    description: Local development server

tags:
  - name: Prompts
    description: Prompt enhancement and management operations
  - name: Authentication
    description: API key authentication and access management

security:
  - ApiKeyAuth: []

paths:
  /prompts:
    post:
      summary: Enhance a prompt
      description: Takes a basic prompt and returns an optimized, context-rich version
      operationId: enhancePrompt
      tags:
        - Prompts
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromptRequest"
            examples:
              basicPrompt:
                value:
                  text: "Write about quantum computing"
                  format: "structured"
      responses:
        "200":
          description: Successfully enhanced prompt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptResponse"
          headers:
            Content-Encoding:
              schema:
                type: string
              description: Compression method used for the response
              example: "gzip"
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
            X-RateLimit-Policy:
              $ref: "#/components/headers/X-RateLimit-Policy"
            Content-Type:
              schema:
                type: string
                enum: ["application/json"]
              description: Indicates JSON response content type
              example: "application/json"
        "400":
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "401":
          description: Unauthorized - API key is missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "429":
          description: Too many requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before making another request
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "413":
          description: Payload Too Large - Input text exceeds maximum allowed size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
      x-operation-security:
        requiredScopes:
          - prompts:create
        rateLimitPolicy:
          limit: 100
          window: 60
          unit: seconds

    get:
      summary: List enhanced prompts
      description: Returns a paginated list of previously enhanced prompts
      operationId: listPrompts
      tags:
        - Prompts
      security:
        - ApiKeyAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of prompts to return per page
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of prompts to skip for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: List of prompts
          content:
            application/json:
              schema:
                type: object
                properties:
                  prompts:
                    type: array
                    description: Array of enhanced prompts
                    items:
                      $ref: "#/components/schemas/PromptResponse"
                  total:
                    type: integer
                    description: Total number of prompts available
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
            X-RateLimit-Policy:
              $ref: "#/components/headers/X-RateLimit-Policy"
        "401":
          description: Unauthorized - API key is missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
      x-operation-security:
        requiredScopes:
          - prompts:read
        rateLimitPolicy:
          limit: 100
          window: 60
          unit: seconds

  /prompts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier of the prompt to retrieve
        schema:
          type: string
          format: uuid
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          example: "123e4567-e89b-12d3-a456-426614174000"

    get:
      summary: Get a specific prompt
      description: Retrieves details of a single enhanced prompt
      operationId: getPrompt
      tags:
        - Prompts
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Prompt details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptResponse"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
            X-RateLimit-Policy:
              $ref: "#/components/headers/X-RateLimit-Policy"
        "401":
          description: Unauthorized - API key is missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "404":
          description: Prompt not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
      x-operation-security:
        requiredScopes:
          - prompts:read
        rateLimitPolicy:
          limit: 100
          window: 60
          unit: seconds

    put:
      summary: Update a prompt
      description: Updates and re-enhances a previously created prompt
      operationId: updatePrompt
      tags:
        - Prompts
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromptRequest"
      responses:
        "200":
          description: Prompt successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptResponse"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
            X-RateLimit-Policy:
              $ref: "#/components/headers/X-RateLimit-Policy"
        "400":
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "401":
          description: Unauthorized - API key is missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "404":
          description: Prompt not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "413":
          description: Payload Too Large - Input text exceeds maximum allowed size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
      x-operation-security:
        requiredScopes:
          - prompts:update
        rateLimitPolicy:
          limit: 100
          window: 60
          unit: seconds

    delete:
      summary: Delete a prompt
      description: Removes a prompt from history
      operationId: deletePrompt
      tags:
        - Prompts
      security:
        - ApiKeyAuth: []
      responses:
        "204":
          description: Prompt successfully deleted
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "401":
          description: Unauthorized - API key is missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "404":
          description: Prompt not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers:
            X-Frame-Options:
              schema:
                type: string
                enum: ["DENY"]
              description: Prevents clickjacking by disabling iframe embedding
              example: "DENY"
x-operation-security:
  requiredScopes:
    - prompts:delete
  rateLimitPolicy:
    limit: 100
    window: 60
    unit: seconds

components:
  schemas:
    PromptRequest:
      type: object
      description: Request body for creating or updating a prompt enhancement
      required:
        - text
      properties:
        text:
          type: string
          description: The original prompt text to be enhanced
          minLength: 1
          maxLength: 8000
          example: "Write about quantum computing"
        format:
          type: string
          description: The desired format for the enhanced prompt
          enum:
            - structured
            - paragraph
            - bullet
            - conversational
          default: structured
          example: "structured"

    PromptResponse:
      type: object
      description: Response containing the enhanced prompt information
      properties:
        id:
          type: string
          description: Unique identifier for the enhanced prompt
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        originalText:
          type: string
          description: The original prompt text provided by the user
          example: "Write about quantum computing"
        enhancedText:
          type: string
          description: The enhanced, more detailed prompt text
          example: "As a professional expert in quantum computing, provide a comprehensive overview..."
        format:
          type: string
          description: The format used for enhancing the prompt
          enum:
            - structured
            - paragraph
            - bullet
            - conversational
          example: "structured"
        createdAt:
          type: string
          format: date-time
          description: Timestamp of prompt creation
          example: "2023-07-15T14:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Timestamp of the last prompt update (if applicable)
          example: "2023-07-15T15:45:00Z"

    Error:
      type: object
      description: Standard error response format
      properties:
        error:
          type: object
          description: Error details
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: "validation_error"
            message:
              type: string
              description: Human-readable error message
              example: "The 'text' field is required"
            details:
              type: object
              description: Additional error details (when available)
              example: { "param": "text", "reason": "missing_required_field" }

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication and access control

  headers:
    X-RateLimit-Limit:
      description: Maximum number of requests allowed in the current window
      schema:
        type: integer
        minimum: 1
      example: 100
    X-RateLimit-Remaining:
      description: Number of requests remaining in the current window
      schema:
        type: integer
        minimum: 0
      example: 95
    X-RateLimit-Reset:
      description: The timestamp at which the current rate limit window resets (ISO 8601 format)
      schema:
        type: string
        format: date-time
      example: "2023-07-15T14:30:00Z"
    X-RateLimit-Policy:
      description: Detailed rate limiting policy
      schema:
        type: string
      example: "100 requests per 60 seconds"
